{
    "private_key": "The path to your private key",
    "client_id": "Your Revolut API client ID",
    "iss": "The ISS Revolut integration field",
    "discordToken": "Your Discord Token",
    "discordPrefix": "!",
    "monitorChannel": "The Discord channel you want to monitor transactions"
}